.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-card{
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px)  {
  .flex{
    display: block;
    flex-direction: column;
  }
  .w-2{
    width:100% !important
    }
    .w-1{
      width:100% !important
    }
}
.w-2{
width:66.6%
}
.w-1{
width: 33.3%;
}
.w-05{
  width: 50%;
}
.h-screen{
  height: 90vh;
  overflow-y: scroll;
}
.video-item{
  width: 45%;
  margin: 5px;
  transition: all 1s;
  position: relative;
  .video-description {
    position: absolute;
    background-color: transparent;
    color: white;
    top: 25%;
    left: 25%;
    bottom: 25%;
    align-items: center;
    text-align: center;
  }
}



.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #2475BB;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
